.filters {
  margin-left: 30px; }
  .filters__header {
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px; }
  .filters__set {
    background-color: aliceblue;
    padding: 15px 20px; }

.filter {
  margin-top: 15px; }
  .filter:first-child {
    margin-top: 0; }
  .filter__name {
    font-size: 13px;
    font-weight: bold;
    text-align: left; }
  .filter__select {
    margin-top: 3px;
    padding: 5px;
    width: 200px; }
